[submodule "caMicroscope"]
	path = caMicroscope
	url = https://github.com/camicroscope/caMicroscope.git
[submodule "Caracal"]
	path = Caracal
	url = https://github.com/camicroscope/Caracal.git
[submodule "Distro"]
	path = Distro
	url = https://github.com/camicroscope/Distro.git
